<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/styles/styles.css"/>
    <script type="importmap">
      {
        "imports": {
          "lit": "/deps/lit.js"
        }
      }
    </script>
    <script src="/deps/rum.js" type="module"></script>
    <script src="/scripts/ak.js" type="module"></script>
    <script src="/scripts/scripts.js" type="module"></script>
    <link rel="icon" href="data:,">
</head>
<body>
<header></header>
<main>
<div><ul>
<li><a href="#what-it-is">WHAT IT IS</a></li>
<li><a href="#how-to-use-it">HOW TO USE IT</a></li>
<li><a href="#what-were-doing">WHAT WE'RE DOING</a></li>
<li><a href="#get-help">GET HELP</a></li>
</ul></div>
</main>
<footer></footer>
</body>
</html>