<div><p><a href="/"><picture><source srcset="/img/icons/mlb-logo.svg"><source srcset="/img/icons/mlb-logo.svg" media="(min-width: 600px)"><img src="/img/icons/mlb-logo.svg" alt="MLB Logo" loading="lazy"></picture><picture><source srcset="/img/icons/adobe-logo.svg"><source srcset="/img/icons/adobe-logo.svg" media="(min-width: 600px)"><img src="/img/icons/adobe-logo.svg" alt="Adobe Logo" loading="lazy"></picture></a></p></div>
<div><ul>
<li><a href="#what-it-is">WHAT IT IS</a></li>
<li><a href="#how-to-use-it">HOW TO USE IT</a></li>
<li><a href="#what-were-doing">WHAT WE'RE DOING</a></li>
<li><a href="#get-help">GET HELP</a></li>
</ul></div>
<div><p><a href="/tools/widgets/search">:search:</a></p></div>