footer {
  background-color: var(--mlb-gray-40);
}

footer {
  a {
    text-decoration: none;
  }

  .section {
    max-width: initial;
    margin: 0;
    padding: 80px 0;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .footer-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 46.136px;
  }

  .footer-logos .icon:first-child {
    width: 85px;
    height: 45px;
  }

  .footer-logos .icon:last-child {
    width: 95px;
    height: 30px;
  }

  .footer-separator {
    width: 1px;
    height: 50px;
    background-color: var(--mlb-white);
    flex-shrink: 0;
  }

  .footer-copyright {
    color: var(--mlb-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    font-family: var(--body-font-family);
    text-align: center;
  }
}
