footer {
  a {
    text-decoration: none;
  }

  .footer-content {
    max-width: var(--grid-container-width);
    margin: 48px auto;
    font-size: 14px;
  }

  .section-legal ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .section-copyright {
    background-color: #2d2d2d;
    padding: 24px;
    text-align: center;

    p {
      margin: 0;
      color: #fff;
      font-size: 12px;
      line-height: 1.5;
    }

    picture {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      display: block;
      height: auto;
      max-height: 40px;
    }

    .icon {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 20px;
      margin: 0 16px;

      svg {
        fill: #fff;
      }
    }
  }

  .section {
    .default-content {
      max-width: initial;
      margin: initial;
    }
  }
}

@media (width >= 900px) {
  footer {
    margin: 0;

    .section-legal {
      display: flex;
      justify-content: end;
      gap: var(--spacing-xl);
      margin-bottom: 24px;

      ul {
        display: flex;
        justify-content: end;
        gap: var(--spacing-xl);
      }

      li {
        margin: 0;
      }
    }

    .section-copyright {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      padding: 32px 24px;

      p:first-of-type {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
  }
}
